#nav_item{
    color:#fff;
    font-size: 32px;
    font-weight: 600;
}
#hcard{
    --bs-card-border-width: 0px !important; 
}
body{
    background-color: #34CEF3 !important;
}
.card{
    /* //background-color: #34CEF3 !important; */
}

.fade-up{
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0px,0px,0);
}

/* html:not(.no-js) [data-aos=fade-up] {
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0,100px,0);
} */

.conversion{
    background-color:whitesmoke;
    width: 200%;
}
.cbody{
    background-blend-mode: soft-light;
    border-radius: 25px;
}
.container{
    width: max-content;
}
.embeded{
    border: solid 1px #rgb(0.6,0.6,0.6);
}